*.png

# Created by https://www.toptal.com/developers/gitignore/api/eclipse,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse,c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

# End of https://www.toptal.com/developers/gitignore/api/eclipse,c++

*.tfdb
*.qdb
*.ini

*.qtl
*.qpg

_info
**/_info
**/**/_info
**/**/**/_info
**/**/**/**/_info

_vmake
**/_vmake
**/**/_vmake
**/**/**/_vmake
**/**/**/**/_vmake

transcript
**/transcript
**/**/transcript
**/**/**/transcript
**/**/**/**/transcript

*.mif
*.tclPreview

*.exe

*.vcd
*.wlf

*.txt

# Created by https://www.gitignore.io/api/matlab,csharp
# Edit at https://www.gitignore.io/?templates=matlab,csharp

### MATLAB ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# End of https://www.gitignore.io/api/matlab,csharp

*.ver
*.zip
*.wlf
*.o
*.afx
*.crf
*.htm
*.tra
*.dep
*.lst
*.o
*.crf
*.autosave
*.csd
*.sdf_typ.csd

**/*.o
**/*.afx
**/*.crf
**/*.htm
**/*.tra
**/*.dep
**/*.lst

config.properties
**/config.properties
**/**/config.properties
**/**/**/config.properties
**/**/**/**/config.properties

*.o
*.ddb
*.sld
*.ipch
*.sdf
*.dpf
*.opensdf
*_dspbuilder/*
*.cdf
*.map
*sopc_*
*.jdi
*.ptf.*
*.sof
*.pof
*.qws
*.smsg
*_inst.vhd
*_generation_script*
*.done
*.qarlog
*.rpt
*.summary
*.qws
*.cmp
*.eqn
*.html
*.bak
*.qar
*.sopc_builder

*~
*.pin
*.stp

################ ignore Quartus II generated folders ################

db/
incremental_db/
simulation/
timing/
*_sim/

**/db/
**/incremental_db/
**/simulation/
**/timing/
**/*_sim/

**/**/db/
**/**/incremental_db/
**/**/simulation/
**/**/timing/
**/**/*_sim/

*.jic
*.map
*sopc_*
*.jdi
*.ptf.*
*.sof
*.pof
*.qws
*.smsg
*_inst.vhd
*_generation_script*
*.done
*.qarlog
*.rpt
*.summary
*.qws
*.cmp
*.eqn
*.html
*.bak
*.qar
*.sopc_builder

*~
*.pin

############################# modelsim ##############################

**/wlft*
**/_lib1*

verilog.psm
verilog.prw
_primary*

**/*.jpg

*.mpf
*.mti

wlf*
work/_lib1_*
work/*

**/*.stp
*.vstf
**/*.cr.mti
*.class

bin/*
**/bin/*
**/**/bin/*
**/**/**/bin/*
**/**/**/**/bin/*
obj/*
**/obj/*
**/**/obj/*
**/**/**/obj/*
**/**/**/**/obj/*

*.suo
**/.suo
**/**/.suo
**/**/**/.suo
**/**/**/**/.suo

greybox_tmp/*
**/greybox_tmp/*
**/**/greybox_tmp/*
**/**/**/greybox_tmp/*
**/**/**/**/greybox_tmp/*

_UpgradeReport_Files/*
**/_UpgradeReport_Files/*
**/**/_UpgradeReport_Files/*
**/**/**/_UpgradeReport_Files/*
**/**/**/**/_UpgradeReport_Files/*
/.metadata/
