
# Created by https://www.gitignore.io/api/matlab,csharp
# Edit at https://www.gitignore.io/?templates=matlab,csharp

### MATLAB ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# End of https://www.gitignore.io/api/matlab,csharp

*.ver
*.zip
*.wlf
*.o
*.afx
*.crf
*.htm
*.tra
*.dep
*.lst
*.o
*.crf
*.autosave
*.csd
*.sdf_typ.csd

**/*.o
**/*.afx
**/*.crf
**/*.htm
**/*.tra
**/*.dep
**/*.lst

config.properties
**/config.properties
**/**/config.properties
**/**/**/config.properties
**/**/**/**/config.properties

**/**/*.o
**/**/*.afx
**/**/*.crf
**/**/*.htm
**/**/*.tra
**/**/*.dep
**/**/*.lst

*.ddb
**/*.ddb
**/**/*.ddb
**/**/**/*.ddb

*.sld
**/*.sld
**/**/*.sld
**/**/**/*.sld
*.ipch
**/*.ipch
**/**/*.ipch
**/**/**/*.ipch

*.sdf
**/*.sdf
**/**/*.sdf
**/**/**/*.sdf

*.dpf
**/*.dpf
**/**/*.dpf
**/**/**/*.dpf

*.opensdf
**/*.opensdf
**/**/*.opensdf
**/**/**/*.opensdf

*_dspbuilder/*
**/*_dspbuilder/*
**/**/*_dspbuilder/*
**/**/**/*_dspbuilder/*
**/**/**/**/*_dspbuilder/*

*.cdf
**/*.cdf
**/**/*.cdf
**/**/**/*.cdf

*.map
*sopc_*
*.jdi
*.ptf.*
*.sof
*.pof
*.qws
*.smsg
*_inst.vhd
*_generation_script*
*.done
*.qarlog
*.rpt
*.summary
*.qws
*.cmp
*.eqn
*.html
*.bak
*.qar
*.sopc_builder

*~
*.pin
*.stp

################ ignore Quartus II generated folders ################
db/
incremental_db/
simulation/
timing/
*_sim/

**/db/
**/incremental_db/
**/simulation/
**/timing/
**/*_sim/

**/**/db/
**/**/incremental_db/
**/**/simulation/
**/**/timing/
**/**/*_sim/

**/**/*.jic
**/**/*.map
**/**/*sopc_*
**/**/*.jdi
**/**/*.ptf.*
**/**/*.sof
**/**/*.pof
**/**/*.qws
**/**/*.smsg
**/**/*_inst.vhd
**/**/*_generation_script*
**/**/*.done
**/**/*.qarlog
**/**/*.rpt
**/**/*.summary
**/**/*.qws
**/**/*.cmp
**/**/*.eqn
**/**/*.html
**/**/*.bak
**/**/*.qar
**/**/*.sopc_builder

**/**/*~
**/**/*.pin

############################# modelsim ##############################
**/wlft*
**/_lib1*

verilog.psm
verilog.prw
_primary*

**/*.jic
**/*.map

**/*sopc_*
**/*.jdi
**/*.ptf.*
**/*.sof
**/*.pof
**/*.qws
**/*.smsg
**/*_inst.vhd
**/*_generation_script*
**/*.done
**/*.qarlog
**/*.rpt
**/*.summary
**/*.qws
**/*.cmp
**/*.eqn
**/*.html
**/*.jpg
**/*.bak
**/*.qar
**/*.sopc_builder

**/*~
**/*.pin
*.mpf
*.mti
**/*.mpf
**/*.mti
**/**/*.mpf
**/**/*.mti

wlf*
**/wlf*
**/**/wlf*
work/_lib1_*
**/work/_lib1_*
**/**/work/_lib1_*
**/**/**/work/_lib1_*
work/*
**/work/*
**/**/work/*
**/**/**/work/*

**/*.stp
**/**/*.stp
**/**/**/*.stp
*.vstf
**/*.vstf
**/**/*.vstf
**/*.cr.mti
*.mti
**/*.mti
**/**/*.mti
**/**/**/*.mti


*.class
**/*.class
**/**/*.class
**/**/**/*.class

bin/*
**/bin/*
**/**/bin/*
**/**/**/bin/*
**/**/**/**/bin/*
**/**/**/**/**/bin/*
obj/*
**/obj/*
**/**/obj/*
**/**/**/obj/*
**/**/**/**/obj/*
**/**/**/**/**/obj/*

*.suo
**/.suo
**/**/.suo
**/**/**/.suo
**/**/**/**/.suo
**/**/**/**/**/.suo

greybox_tmp/*
**/greybox_tmp/*
**/**/greybox_tmp/*
**/**/**/greybox_tmp/*
**/**/**/**/greybox_tmp/*
**/**/**/**/**/greybox_tmp/*

_UpgradeReport_Files/*
**/_UpgradeReport_Files/*
**/**/_UpgradeReport_Files/*
**/**/**/_UpgradeReport_Files/*
**/**/**/**/_UpgradeReport_Files/*
**/**/**/**/**/_UpgradeReport_Files/*